<html dir='ltr' lang='en'>

  <form action='{{baseUrl}}/consultants/update-password/{{token}}' method='post'>
    <input type='password' name='password' />
    <input type='password' name='confirmPassword' />
    <button type='submit'>Update</button>
  </form>
</html>