<style>
  .flex { display: flex; } .justify-center { justify-content: center; } .flex-column-reverse {
  flex-direction: column-reverse; } .flex-column { flex-direction: column; } .center { position:
  fixed; top: 50%; left: 50%; /* bring your own prefixes */ transform: translate(-50%, -50%);
  align-items: center; text-align: center; }
</style>

<div>
  <svg xmlns='http://www.w3.org/2000/svg' width='172' height='172' viewBox='0 0 172 172'>
    <g id='Group_8448' data-name='Group 8448' transform='translate(-554 -158)'>
      <path
        id='Path_4411'
        data-name='Path 4411'
        d='M3806.575-15072.029l22.223,22.221,56.508-56.485'
        transform='translate(-3206.076 15324.577)'
        fill='none'
        stroke='#68b08f'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='17'
      />
      <g
        id='Ellipse_1352'
        data-name='Ellipse 1352'
        transform='translate(554 158)'
        fill='none'
        stroke='#68b08f'
        stroke-width='17'
      >
        <circle cx='86' cy='86' r='86' stroke='none' />
        <circle cx='86' cy='86' r='77.5' fill='none' />
      </g>
    </g>
  </svg>
</div>
<div style='font-size:40px;margin-top:20px;'>Password Changed</div>
<div style='font-size:20px;margin-top:20px;'>Please close the window, and you may go back to the
  previous service and enjoy.
</div>